/* -------------- GRID --------------*/
.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.col_1of3 {
  width: 100%; }

.col_1of2 {
  width: 100%; }

.navbar_size {
  width: 100%; }

.contact_info_div {
  width: 100%; }

.project_content_div {
  width: 100%; }

.project_nav {
  width: 33.33333%; }

.col_2of3 {
  width: 66.66666667%; }

@media screen and (min-width: 768px) {
  /*------ PROJECT --------*/
  .project_content_div {
    width: 50%; } }

@media screen and (min-width: 521px) {
  /*------ PROJECT --------*/
  .project_content {
    padding-top: 0; }
  .project_hero {
    width: 80%; } }
