$main-pink: #F48A82;
$light-pink: #F6D8D0;
$lightest-pink: #FBEFEC;
$light-orange: rgba(253, 202, 143, 0.3);
$hovered-pink: rgba(246, 216, 208, 0.8);
$hovered-orange: rgba(253, 202, 143, 0.8);
$faded-pink: rgba(246, 216, 208, 0.4);
$faded-orange: rgba(253, 202, 143, 0.5);
$blue: #5578BB;

$proj_bottom_padding: 0.3rem;
$project_column_margin: 1rem;
$project_title_div: 2rem;
$project_content_margin: 9.5rem;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* ------- TYPOGRAPHY ----------*/

h1, h2, h3, h4 {
  font-family: 'Yanone Kaffeesatz', serif;
}

h1, h2 {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

h3 {
  letter-spacing: 0.25rem;
  font-size: 1.1rem;
}

h4 {
  font-size: 0.85em;
  letter-spacing: 0.12rem;
}

p, ol, ul {
  font-family: 'Athiti', serif;
  font-size: 0.9em;
  color: #393B39;
  letter-spacing: 0.1rem;
}

a {
  font-family: 'Athiti', serif;
  font-size: 0.9em;
  text-decoration: none;
  color: #213040;
  transition: color 0.4s;
  &:active, &:hover, &:focus {
    color: $main-pink;
  }
}

button {
  background-color: $light-pink;
  border: none;
  color: $main-pink;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Athiti';
  text-transform: uppercase;
  font-size: 0.6em;
  letter-spacing: 0.15em;
  transition: background-color 0.8s;
  &:active, &:hover, &:focus {
    background-color: $main-pink;
    color: white;
  }
}

.center {
  justify-content: center;
}

.center_text {
  text-align: center;
}

.highlight {
  font-weight: bold;
  color: $main-pink;
}

.color_link {
  color: $blue;
  font-weight: bold;
}

/*---------- NAVBAR ------------*/

.navbar {
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 2000;
  margin: 0 auto;
  position: sticky; 
  top: 0; 
}

.nav_div{
  justify-content: center;
  background-color: white;
  text-align: center;
  position: sticky;
  top: 0.5%;
}

.bottom_nav_div{
  width: 100%;
  justify-content: center;
  background-color: $lightest-pink;
  text-align: center;
  position: fixed;
  bottom: 0;

  a{
    color: $blue;

    transition: color 0.5s;
    &:hover, &:active, &:focus{
      color: $main-pink;
    }
  }
}

.logo {
  width: 4rem;
}

.logo_div {
  justify-content: center;
  text-align: center;
  padding: 1rem 0 0 0;
}

.nav_list {
  text-transform: uppercase;
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  li {
    display: inline-block;
    text-align: center;
    margin: 0 1rem;
    &:hover {
      color: $main-pink;
    }
  }
}

[type="checkbox"], label {
  display: none;
}

.nav_li_highlight {
  padding: 0 0.5rem;
  background-color: $hovered-pink;
  font-weight: bold;
  &:hover, &:active, &:focus {
    color: #000;
    cursor: default;
  }
}

.proj_previous_div {
  text-align: left;
  padding: $proj_bottom_padding 0 $proj_bottom_padding 2rem;

  transition: padding 0.5s;
}

.proj_back_div{
  text-align: center;
  padding: $proj_bottom_padding 0 $proj_bottom_padding 0;
}

.next_proj_div {
  text-align: right;
  padding: $proj_bottom_padding 2rem $proj_bottom_padding 0;

  transition: padding 0.5s;
}

.project_content {
  margin-top: 4rem;

  margin-left: $project_content_margin;
  margin-right: $project_content_margin;

  transition: margin 0.5s;
}

/* -------- HOMEPAGE ----------*/

.title_margin {
  margin: 0;
}

.section_div {
  margin-bottom: 3rem;
  padding-top: 1rem;
}

.pink_bg{
  background-color: $faded-pink;
  padding: 2rem 0;
  transition: height 0.5s;
}

.name_div {
  text-align: center;
  justify-content: center;
  h2{
    margin: 0.5rem 0;
  }
}

.more_projects{
  text-align: center;
  justify-content: center;
  padding-bottom: 4rem;
}

.home_project_div {
  height: 300px;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem 4rem 2rem 4rem;

  transition: margin 0.5s;
}

.contact_div {
  background-color: $faded-pink;
  padding: 0.5rem 0 1rem 0;
}

.contact_content{
  justify-content: center;
  text-align: center;
  a{
    color: $blue;
  }
}

.contact_sep{
  margin: 0;
}

.project_title{
  margin: 0;
  font-size: 120%;
}

.project_cover_img1{
  width: 50%;
  padding: 0.5rem 0;

  transition: width 0.5s
}

.project_cover_img2{
  width: 48%;
  padding: 1rem 0 1rem 0;

  transition: width 0.5s;
}

.project1_div {
  height: 270px;
  width: 50%;
  position: absolute;
  right: 49%;
  top: 0;
  transition: background-color 0.5s;
  background-color: $faded-pink;
  &:hover, &:focus, &:active {
    background-color: $hovered-pink;
  }
}

.project2_div {
  height: 270px;
  width: 50%;
  position: absolute;
  top: 8%;
  left: 47%;
  transition: background-color 0.5s;
  background-color: $faded-orange;
  &:hover, &:focus, &:active {
    background-color: $hovered-orange;
  }
}

.down_arrow{
  width: 2rem;
}

.hero_img{
  margin-top: 2rem;
  width: 100%;
  margin-bottom: 2rem;
}

/*------------- ABOUT PAGE----------------*/

.about_title {
  margin: 1rem 0 0 0;
}

.photo_div {
  text-align: center;
  background-color: $faded-pink;
  padding: 0.5rem 0 0.5rem 0;
  margin-bottom: 1rem;
}

.self_photo {
  width: 55%;
}

.about_div {
  justify-content: center;
  padding-bottom: 1rem;
}

#last{
  padding-bottom: 2rem;
  a{
    display: block;
    padding-bottom: 0.2rem;
  }
}

/*------------- PROJECT PAGE ------------*/

.project_div {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 6rem;

  h3{
    text-align: left;
    text-transform: uppercase;
    margin: 1rem 0 0 0;
  }

  p{
    text-align: left;
    margin: 0;
    color: #666;
  }
}

.left_column {
  position: relative;
  margin-right: $project_column_margin;
  height: 200px;
  border: 1px solid $main-pink;
  transition: background-color 0.6s;
  &:hover, &:active, &:focus {
    background-color: $faded-pink;
    border: 1px solid $faded-pink;
  }
}

.left_column_text{
  margin-right: $project_column_margin;
  height: $project_title_div;
}

.right_column{
  position: relative;
  margin-left: $project_column_margin;
  height: 200px;
  border: 1px solid #FDCA8F;
  transition: background-color 0.6s;
  &:hover, &:active, &:focus {
    background-color: $faded-orange;
    border: 1px solid $faded-orange;
  }
}

.right_column_text{
  margin-left: $project_column_margin;
  height: $project_title_div;
}

.project_cover{
  width: 60%;

  transition: width 0.5s;
}

/*------------ RESUME PAGE ----------*/

.resume_div {
  text-align: center;
}

.resume_img {
  width: 90%;
}

/*------------- PROJECT 1 --------------*/

.project_header {
  margin: 3rem 0 0 0;
}

.project_subheader {
  margin: 1.5rem 0 0 0;
}

.project_body_margin {
  margin-left: 9.5rem;
  margin-right: 9.5rem;
}

.project_hero {
  width: 40%;
}

.hero_img_div{
  background-color: $faded_pink;
  text-align: center;
}

.project_hero_div {
  margin-bottom: 2rem;
}

.toolbox_div {
  border: 1px solid $main-pink;
  margin: 3rem 0 1rem 0;
  padding: 2rem 0 2rem 0;
  width: 80%;
  h2 {
    text-align: center;
    margin: 0;
  }
  ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 1rem 0 0 0;
  }
}

.project_img_div {
  margin: 1rem 0 1rem 0;
  justify-content: center;
}

.sticky_img_div{
  margin: 5rem 0 0 0;
}

.ipad_img_div{
  padding: 0 2rem 0 2rem;
  text-align: center;
}

.sticky_content{
  position: sticky; 
  top: 8rem; 
}

//making title sections sticky 'eg. process section'
.project_section_title{
  position: sticky; 
  top: 8rem;
}

.project_img {
  width: 100%;
  padding-bottom: 0.4rem;
}

.small_project_img {
  width: 80%;
  padding-bottom: 0.4rem;
}

.caption {
  font-size: 0.8rem;
  color: #666666;
  margin: 0;
  padding-bottom: 1rem;
}

.caption_last{
  font-size: 0.8rem;
  color: #666666;
  margin: 0;
  padding-bottom: 1rem;
}

.source_div {
  background-color: $light-pink;
  padding: 0 2rem 0 2rem;
}

.project_text_div {
  padding: 0 3rem 0 0;
}

.process_div{
  padding-bottom: 3rem;
}

.orange_box{
  margin-top: 2rem;
  background-color: $light-orange;
  padding: 1.5rem;

  p{
    margin: 0;
  }

  p.title{
    font-weight: bold;
    font-style: italic;
    padding-bottom: 0.5rem;
  }
}

.pink_box{
  padding: 1.5rem;
  background-color: $lightest-pink;
}