$main-pink: #F48A82;
$light-pink: #F6D8D0;
$hovered-pink: rgba(246, 216, 208, 0.8);
$hovered-orange: rgba(253, 202, 143, 0.8);
$faded-pink: rgba(246, 216, 208, 0.4);
$faded-orange: rgba(253, 202, 143, 0.5);
$blue: #5578BB;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* ------- TYPOGRAPHY ----------*/

h1, h2, h3, h4 {
  font-family: 'Yanone Kaffeesatz', serif;
}

h1, h2 {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

h3 {
  letter-spacing: 0.25rem;
  font-size: 1.1rem;
}

h4 {
  font-size: 0.85em;
  letter-spacing: 0.12rem;
}

p, ol, ul {
  font-family: 'Athiti', serif;
  font-size: 0.9em;
  color: #393B39;
  letter-spacing: 0.1rem;
}

a {
  font-family: 'Athiti', serif;
  font-size: 0.9em;
  text-decoration: none;
  color: #213040;
  transition: color 0.4s;
  &:active, &:hover, &:focus {
    color: $main-pink;
  }
}

button {
  background-color: $light-pink;
  border: none;
  color: $main-pink;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Athiti';
  text-transform: uppercase;
  font-size: 0.6em;
  letter-spacing: 0.15em;
  transition: background-color 0.8s;
  &:active, &:hover, &:focus {
    background-color: $main-pink;
    color: white;
  }
}

.center {
  justify-content: center;
}

.center_text {
  text-align: center;
}

.highlight {
  font-weight: bold;
  color: $main-pink;
  /*background-color: rgba(246,216,208,0.6);*/
}

/*---------- NAVBAR ------------*/

.navbar {
  width: 100%;
  padding: 1rem 1.2rem 0 1.2rem;
  background: white;
  z-index: 2000;
  position: fixed;
  top: 0;
  margin: 0 auto;
}

.nav_list {
  text-transform: uppercase;
  list-style-type: none;
  text-align: center;
  padding: 0;
  li {
    display: inline-block;
    text-align: center;
    margin: 0 1rem;
    &:hover {
      color: $main-pink;
    }
  }
}

[type="checkbox"], label {
  display: none;
}

.logo {
  width: 4rem;
}

.logo_div, .nav_div {
  justify-content: center;
  text-align: center;
}

.nav_li_highlight {
  padding: 0 0.5rem;
  background-color: $hovered-pink;
  font-weight: bold;
  &:hover, &:active, &:focus {
    color: #000;
    cursor: default;
  }
}

.proj_back_div {
  text-align: left;
  padding-top: 1rem;
}

.next_proj_div {
  text-align: right;
  padding-top: 1rem;
}

.content {
  margin-top: 7.9rem;
}

.project_content {
  margin-top: 13rem;
}

/* -------- HOMEPAGE ----------*/

.title_margin {
  margin: 0;
}

.section_div {
  margin-bottom: 3rem;
  padding-top: 1rem;
}

.intro_div_hero{
  height: 550px;
  background-image: url('https://www.sfu.ca/~mmc29/IAT339/P03/Images/cover-photo.jpg');
  background-position: 50% 85%;
  background-size: 800px;
  background-repeat: no-repeat;
  background-color: $faded-pink;
}

.name_div {
  text-align: center;
  justify-content: center;
  h2{
    margin: 0.5rem 0;
  }
}

.more_projects{
  text-align: center;
  justify-content: center;
  padding-bottom: 4rem;
}

.home_project_div {
  height: 300px;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem 4rem 2rem 4rem;
}

.contact_div {
  background-color: $faded-pink;
  padding: 0.5rem 0 1rem 0;
}

.contact_content{
  justify-content: center;
  text-align: center;
  a{
    color: $blue;
  }
}

.contact_sep{
  margin: 0;
}

.project_text{
  margin: 0;
}

.project_cover_img1{
  width: 50%;
  padding: 0.5rem 0;
}

.project_cover_img2{
  width: 48%;
  padding: 1rem 0 1rem 0;
}

.project1_div {
  height: 270px;
  width: 50%;
  position: absolute;
  right: 49%;
  top: 0;
  transition: background-color 0.5s;
  background-color: $faded-pink;
  &:hover, &:focus, &:active {
    background-color: $hovered-pink;
  }
}

.project2_div {
  height: 270px;
  width: 50%;
  position: absolute;
  top: 8%;
  left: 47%;
  transition: background-color 0.5s;
  background-color: $faded-orange;
  &:hover, &:focus, &:active {
    background-color: $hovered-orange;
  }
}

.color_link {
  color: $blue;
  font-weight: bold;
}

/*------------- ABOUT PAGE----------------*/

.about_title {
  margin: 1rem 0 0 0;
}

.photo_div {
  text-align: center;
  background-color: $faded-pink;
  padding: 0.5rem 0 0.5rem 0;
  margin-bottom: 1rem;
}

.self_photo {
  width: 55%;
}

.about_div {
  justify-content: center;
  padding-bottom: 1rem;
}

#last{
  padding-bottom: 2rem;
  a{
    display: block;
    padding-bottom: 0.2rem;
  }
}

/*------------- PROJECT PAGE ------------*/

.project_div {
  height: 300px;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 6rem 2rem 6rem;
}

.project_title {
  position: absolute;
  bottom: -35%;
  text-align: center;
}

.active_textbook {
  position: relative;
  margin-right: 1rem;
  height: 200px;
  background-image: url('https://www.sfu.ca/~mmc29/IAT339/P03/Images/Project1_cover.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55%;
  border: 1px solid $main-pink;
  transition: background-color 0.6s;
  &:hover, &:active, &:focus {
    background-color: $faded-pink;
    border: 1px solid $faded-pink;
  }
}

.iat339_7Trades {
  position: relative;
  margin-left: 1rem;
  height: 200px;
  background-image: url('https://www.sfu.ca/~mmc29/IAT339/P03/Images/Project2_cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  border: 1px solid #FDCA8F;
  transition: background-color 0.6s;
  &:hover, &:active, &:focus {
    background-color: rgba(253, 202, 143, 0.8);
    border: 1px solid rgba(253, 202, 143, 0.8);
  }
}

/*------------ RESUME PAGE ----------*/

.resume_div {
  text-align: center;
}

.resume_img {
  width: 90%;
}

/*------------- PROJECT 1 --------------*/

.project_header {
  margin: 3rem 0 0 0;
}

.project_subheader {
  margin: 1.5rem 0 0 0;
}

.project_body_margin {
  margin-left: 9.5rem;
  margin-right: 9.5rem;
}

.project_hero {
  width: 50%;
}

.project_hero_div {
  text-align: center;
  /*background-color: $light-pink;*/
  background-color: $faded-pink;
  margin-bottom: 2rem;
}

.toolbox_div {
  border: 1px solid $main-pink;
  margin: 3rem 0 1rem 0;
  padding: 2rem 0 2rem 0;
  width: 80%;
  h2 {
    text-align: center;
    margin: 0;
  }
  ul {
    /*	padding-left: 7rem;
    	list-style-position: inside;
    	list-style-type: circle;*/
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 1rem 0 0 0;
  }
}

.project_img_div {
  margin: 1rem 0 1rem 0;
  background-color: $faded-pink;
  justify-content: center;
}

.project_img {
  width: 100%;
  padding: 1rem 2rem 0 2rem;
}

.small_project_img {
  width: 80%;
  padding: 1rem 2rem 0 2rem;
}

.caption {
  padding: 0 2rem 0 2rem;
  font-size: 0.8rem;
  color: #666666;
}

.source_div {
  background-color: $light-pink;
  padding: 0 2rem 0 2rem;
}

.project_text_div {
  padding: 0 3rem 0 0;
}