doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Mandy Cheung
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/grid.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Athiti', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Yanone%20Kaffeesatz', rel='stylesheet')
  body
    include includes/navbar.pug
    nav.navbar
      .box.nav_div
        .col_1of2
          label(for='nav')
          ul.nav_list
            li
              a(href='index.html') Projects
            li
              a.nav_li_highlight(href='about.html') About
            li
              a(href='https://drive.google.com/file/d/18yxV8b98xK2n2l2ROdQ-ZFlks0_Utn7N/view?usp=sharing' target="_blank") Resumè
    .content
      .box.about_div
        .col_1of2
          h3  hi there ! 
      .box.about_div
        .col_1of2.photo_div
          img.self_photo(src='img/profile_1.jpg', alt='photo of mandy')
      .box.about_div
        .col_1of2
          p
            | My name is 
            span.highlight Mandy 
            |  and I am an 
            span.highlight user experience designer 
            | that enjoys doing 
            span.highlight front end development
            | . I value interfaces that works well in giving users what they expect (and more)! I always enjoy products or services that exceed my expectation. I hope to do the same too! I am interested in designing useful products or services that can satisfy people's unheard needs. This motivates me to continue learning and observing every day. I am enthusiastic and always ready to learn!

          p
            | I am also quite fond of detailed things; animations, paintings, architecture, micro-interactionsike, etc. Little things come together to make a big impact as a whole. SO! details count and shouldn't be overlooked!

          p
            | Recently, I came back from a 4 month exchange in Japan. Although I didn't study design in Japan, I learned a lot from Japanese culture. Learning and questioning their way of doing things made me think a lot about what made my experience in Japan so enjoyable.
      .box.about_div#last
        .box.col_1of2
          .contact_info_div
              h3.about_title contact me ! 
              p
                | email: 
                a.color_link(href='mailto:mandyy.cheung@gmail.com')  mandyy.cheung@gmail.com

          .contact_info_div
            h3.about_title follow me !
            p
              a.color_link(href='https://www.linkedin.com/in/mandy-cheung-261b9b93/')  Linked In 
              a.color_link(href='https://www.instagram.com/rxxrika/')  Instagram 
