doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Mandy Cheung
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/grid.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Athiti', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Yanone%20Kaffeesatz', rel='stylesheet')
  body
    include includes/navbar.pug
    nav.navbar
      .box.nav_div
        .col_1of2
          label(for='nav')
          ul.nav_list
            li
              a(href='index.html') Home
            li
              a.nav_li_highlight(href='about.html') About
            li
              a(href='projects.html') Projects
            //- li
            //-   a(href='resume.html') Resumè
    .content
      .box.about_div
        .col_1of2
          h3  hi there ! 
      .box.about_div
        .col_1of2.photo_div
          img.self_photo(src='img/profile_1.jpg', alt='photo of mandy')
      .box.about_div
        .col_1of2
          p
            | My name is 
            span.highlight Mandy 
            |  and I am an 
            span.highlight user experience designer 
            | that enjoys doing 
            span.highlight front end development
            | . I value interfaces that work by giving users what they expect an interface to do. Oh, and I think micro-interactions are pretty cool too. I am a pretty simple straight forward person, therefore what I design or make turns out that way too. Sometimes I get caught up in the smallest details, which I find are quite impactful.
      .box.about_div#last
        .box.col_1of2
          .contact_info_div
              h3.about_title contact me ! 
              p
                | email: 
                a.color_link(href='mailto:mandyy.cheung@gmail.com')  mandyy.cheung@gmail.com
                | phone number: 
                a.color_link(href='mailto:mandyy.cheung@gmail.com')  778-883-8602
          .contact_info_div
            h3.about_title follow me !
            p
              a.color_link(href='https://www.linkedin.com/in/mandy-cheung-261b9b93/')  Linked In 
              a.color_link(href='https://www.instagram.com/rxxrika/')  Instagram 
