doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Mandy Cheung
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/grid.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Athiti', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Yanone%20Kaffeesatz', rel='stylesheet')
  body
    include includes/navbar.pug
    nav.navbar
      .box.nav_div
        .col_1of2
          input#nav(type='checkbox')
          label(for='nav')
          ul.nav_list
            li
              a.nav_li_highlight(href='index.html') Home
            li
              a(href='about.html') About
            li
              a(href='projects.html') Projects
            li
              a(href='resume.html') Resumè
    .content
      .section_div.intro_div_hero
        .box.name_div 
          .col_1of3
            h3  Hi there, 
            h1.title_margin  Mandy here! 
        .box.name_div
          .col_1of2
            p  I am an user experience designer that enjoys doing front end development. 
            a.color_link(href='about.html')  read more 
      .section_div
        .box.name_div
          .col_1of2
            h1  My Recent Projects
        .box.home_project_div
          .col_1of2
            a(href='project1.html')
              .project1_div
                img.project_cover_img1(src='img/Project1_cover.png' alt="Active Textbook redesign project")
                h1.project_text  Active Textbook iOS Re-design 
          .col_1of2
            a(href='project2.html')
              .project2_div
                img.project_cover_img2(src='img/Project2_cover.png' alt="Catering website project")
                h1.project_text  Designing a Catering Company Website 
        .box.center
          .col_1of2.more_projects
            a.color_link(href='projects.html')  see more projects 
      .contact_div
        .box.name_div
          .col_1of2
            h2  Contact Me
        .box.contact_content
          .col_1of2
              a(href='mailto:mandyy.cheung@gmail.com')  mandyy.cheung@gmail.com
              p.contact_sep —
              a(href='tel:7788838602')  (778) 883-8602
