doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Mandy Cheung
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/grid.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Athiti', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Yanone%20Kaffeesatz', rel='stylesheet')
  body
    include includes/navbar.pug
    nav.navbar
      .box.nav_div
        .col_1of2
          label(for='nav')
          ul.nav_list
            li
              a.nav_li_highlight(href='index.html') Projects
            li
              a(href='about.html') About
            li
              a(href='https://drive.google.com/file/d/18yxV8b98xK2n2l2ROdQ-ZFlks0_Utn7N/view?usp=sharing' target="_blank") Resumè
    .content
      .box.section_div
        .col_1of3
          .project_div.project_bg
            a(href='project1.html')
              img.project_title_img(src='img/Project1_cover.png', alt='Active Textbook Project')
              p.project_title Redesign of Active Textbook's iOS App
          .project_div.column_text
            p Active Textbook's iOS App
            p { internship } 
        .col_1of3
          .project_div.project_bg
            a(href='project3.html')
              img.project_title_img(src='img/Project3_cover.png', alt='Strava Project')
              p.project_title Strava
          .project_div.column_text_last
            p Adding value to Strava
            p { school project }
        //- .col_1of3
        //-   .project_div.project_bg
        //-     a(href='project2.html')
        //-       img.project_title_img(src='img/Project2_cover.png', alt='7 Trades Website Project')
        //-       p.project_title Designing a Catering Website
        //-   .project_div.column_text
        //-     p Creating a Catering Website
        //-     p { UX | Branding | HTML & CSS }
    .box.contact_div
      .contact_sec
          h3.project_subheader  Hi, I'm Mandy Cheung.
      .contact_sec
        p
          | Currently a UX designer in training; I may forever be in training as learning never stops! 
          a(href='about.html') Find out more about me here!
        p feel free to email me at: 
          a(href='mailto:mandyy.cheung@gmail.com')  mandyy.cheung@gmail.com