doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Mandy Cheung
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/grid.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Athiti', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Yanone%20Kaffeesatz', rel='stylesheet')

    include includes/favicon.pug
  body
    include includes/navbar.pug
    nav.navbar
      include includes/project_nav.pug
      .box.nav_div
        .col_2of3
          h1  Redesign of Active Textbook's iOS App
      .box.bottom_nav_div     
         .project_nav.proj_previous_div
           a(href='project3.html') prev project
         .project_nav.proj_back_div
           a(href='index.html') all projects
         .project_nav.next_proj_div
           a(href='project3.html') next project

    .project_content
      .hero_img_div
          img.project_hero(src='img/Project1_cover.png', alt='active textbook iphone and ipad image')
      .box.center
        .col_2of3.proj_scope_div 
          p   Jan. – Apr. 2017
          p   Internship as a Designer
          p   At Evident Point, a software company located in Richmond, B.C.
      .box.process_div
        .project_content_div.project_text_div
          h1.project_header About
          p
            | Active Textbook is an eBook reader that is available on the web, play store and app store.
            span.highlight  I was assigned to redesign their flagship iOS app to fit current iOS design standards and enhance the product experience for the users.
            |  I mainly focused on following Apple’s design guidelines, ensuring the flow of the app was flexible to users’ needs and onboarding for new users using the applications.
        .project_content_div
          h1.project_header My Role 
          p
            | I did research to gather information about the purpose of Active Textbook and the users’ goal using active textbook. Using this information, I was able to make insightful design decisions on possible actions or flow of actions a user may take using the app. I also analyzed the underperforming parts of the current iOS application and made changes to that. I pitched the changes to my supervisor and the developer explaining my design changes.
      .box.process_div
        .project_content_div
          .sticky_content
            h1.project_header Analysis
            ul
              li Visually it was not appealing because the book covers were uneven and padding was missing around visual elements.
              li Unclear indications on bottom nav bar
              li Unintuitive interactions within the app
              li Unlabeled and unconventional icons used
              li Misuse of two navigation bars, one hamburger menu and one bottom navigation
        .project_content_div.sticky_img_div_temp.ipad_img_div
          img.small_project_img(src='img/atb/atb_1.jpg', alt='cover view before re-design')
          p.caption  Cover view for the books 
          //- img.small_project_img(src='img/atb/atb_2.jpg', alt='list view before re-design')
          //- p.caption  List view for the books 
          img.small_project_img(src='img/atb/atb_3.jpg', alt='hamburger menu before re-design')
          p.caption_last  Hamburger menu 

      h1.project_header Process 
      .box.process_div
        .project_content_div.project_text_div
          .sticky_content
            h3.project_subheader Research 
            p
              | To start off, I 
              span.highlight interviewed people 
              | who were responsible for the app, to see where they thought 
              span.highlight existing problems 
              | were or where they thought the app could improve.
            p
              | I looked into the 
              span.highlight actions 
              | a user would take if they were to use the app, or what 
              span.highlight purpose 
              | they would have when they are using the app. 
            p
              | I made mockups using 
              span.highlight  Adobe Illustrator 
              |  for each screen that was needed from the research.
            p
              | Here are some variations of grey scale mockups I did of the same screen to test how the placement of elements would work with each other.
        .project_content_div.sticky_img_div_temp.ipad_img_div
          img.small_project_img(src='img/atb/grey_mockup1.jpg', alt='Grey scale mockup of the top and bottom navigation bar')
          img.small_project_img(src='img/atb/grey_mockup2.jpg', alt='Grey scale mockup of the top and bottom navigation bar')
          img.small_project_img(src='img/atb/grey_mockup3.jpg', alt='Grey scale mockup of the top and bottom navigation bar')
          p.caption_last  Variations of low fidelity mock-ups
      .box.process_div
        .project_content_div.project_text_div
          .sticky_content
            h3.project_subheader High Fidelity Mock-ups 
            p
              | High fidelity mock-ups are effective for allowing the developer and my supervisor to get a 
              span.highlight better understanding 
              | of how the 
              span.highlight visual design and the elements 
              | interact with each other in the app.
            p
              | After every iteration, I would email it to the supervisor and developer. Then a meeting will be held to 
              span.highlight discuss and critique 
              | my designs. After the meeting, I would go back and make changes to the mockups and present them again.
            p
              | Here are examples of high fidelity mockups of both iphones and ipads
        .project_content_div.sticky_img_div_temp
          img.project_img(src='img/atb/high_mockup1.jpg', alt='redesigned cover view')
          p.caption Cover View
          img.project_img(src='img/atb/high_mockup2.jpg', alt='redesigned list view')
          p.caption List View
          img.project_img(src='img/atb/high_mockup3.jpg', alt='new account tab')
          p.caption Account Tab 
          img.project_img(src='img/atb/high_mockup4.jpg', alt='book description')
          p.caption_last Book Description
      .box.process_div
        .project_content_div.project_text_div
          h3.project_subheader Iterations
          p
            | After finishing the mockups, I presented it to my co-worker and supervisor. We would discuss what we could iterate upon. During discussion, some difficulties arrived when we had different opinions for the app's features. 
          p
            | Specifically, 
            span.highlight how the user will be able to find more information about the book in cover view. 
            | I came up with a few solutions for the supervisor to choose from, but the supervisor didn’t see the need to change the way book details were being accessed -- which was the floating green 'i' icon.
        .project_content_div.project_img_div
          img.project_img(src='img/atb/high_mockup1.jpg', alt='redesigned cover view')
          p.caption_last Cover book views that can't access "More Options" of a book 
      .box.process_div
        .project_content_div.project_text_div
          h3.project_subheader Solution 
          p
            | In the end, I continued to iterate on the design and convinced my supervisor on a solution that we were both happy with. Instead of having a floating icon, the user can 
            span.highlight access details about the book through a long press on the book
            | . However, the user won’t be able to know about this action without instructions, therefore, I added onboarding to the app.
        .project_content_div.project_img_div
          img.project_img(src='img/atb/atb_solution.jpg', alt='cover view with menu option')
          p.caption_last The chosen design option for accessing "More Options" of a book
      .box.process_div
        .project_content_div.project_text_div
          .sticky_content
            h1.project_header Take away 
            p
              | By adding onboarding to the Active Textbook, new users will be able to learn about how to use the reader. Active Textbook is updated to modern standards of design and allows for a smooth user experience for their readers. This will increase value not only for the readers but for Evident Point. When users feel happy and in control using Active Textbook, they will continue using it and even recommend it to their friends, increasing their user base. 
        .project_content_div.sticky_img_div_temp
            img.project_img(src='img/atb/onboarding_1.jpg', alt='onboarding step 1')
            p.caption  Onboarding: Step 1 
            img.project_img(src='img/atb/onboarding_2.jpg', alt='onboarding step 2')
            p.caption  Onboarding: Step 2 
            img.project_img(src='img/atb/onboarding_3.jpg', alt='onboarding step 3')
            p.caption  Onboarding: Step 3 
