doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Mandy Cheung
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/grid.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Athiti', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Yanone%20Kaffeesatz', rel='stylesheet')
  body
    include includes/navbar.pug
    nav.navbar
      .box.nav_div
        .col_1of2
          label(for='nav')
          ul.nav_list
            li
              a.nav_li_highlight(href='projects.html') Projects
            li
              a(href='about.html') About
            li
              a(href='resume.html') Resumè
    .content
      .box.section_div
        .col_1of3
          .project_div.project_bg
            a(href='project1.html')
              img.project_img(src='img/Project1_cover.png', alt='Active Textbook Project')
          .project_div.column_text
            //- h3 Redesign of Active Textbook's iOS App
            p {UX | UI } 
        .col_1of3
          .project_div.project_bg
            a(href='project2.html')
              img.project_img(src='img/Project2_cover.png', alt='7 Trades Website Project')
          .project_div.column_text
            //- h3 Designing a Catering Website
            p {UX | Branding | HTML & CSS }
        .col_1of3
          .project_div.project_bg
            a(href='project2.html')
              img.project_img(src='img/Project1_cover.png', alt='Active Textbook Project')
          .project_div.column_text
            //- h3 Designing a Catering Website
            p { TEST }
        //- .contact_div
        //-   .box.name_div
        //-     .col_1of2
        //-       h2  Contact Me
        //-   .box.contact_content
        //-     .col_1of2
        //-       a(href='mailto:mandyy.cheung@gmail.com')  mandyy.cheung@gmail.com