doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Mandy Cheung
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/grid.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Athiti', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Yanone%20Kaffeesatz', rel='stylesheet')
  body
    include includes/navbar.pug
    nav.navbar
      include includes/project_nav.pug
      .box.nav_div
        .col_2of3
          h1  Redesign of Active Textbook's iOS App
      .box.bottom_nav_div     
         .col_1of3.proj_previous_div
           a(href='project2.html') previous project
         .col_1of3.proj_back_div
           a(href='projects.html') back to all projects
         .col_1of3.next_proj_div
           a(href='project2.html') next project

    .project_content
      .project_hero_div
        .box.center
          .col_2of3.hero_img_div
            img.project_hero(src='img/active_textbook_hero.png', alt='active textbook iphone and ipad image')
      .project_body_margin
        .box
          .col_1of2.project_text_div
            h1.project_header Scope 
            p
              | I worked at a software company called
              span.highlight  Evident Point
              |  as a UX Designer. They asked me to 
              span.highlight re-design their iOS app 
              |  to make it more "app-like".
          .col_1of2
            h1.project_header  My Role 
            p
              | This was an 
              span.highlight individual project
              | , I did all the research and design myself. I went to my co-workers to get information and insight about the existing applications to further my research.
        .box.center
          .box.toolbox_div
            .col_1of2
              h2  Skills 
              ul
                li  Research 
                li  Communication 
                li  Presentation 
            .col_1of2
              h2  Tools 
              ul
                li  Adobe Illustrator 
                li  iPad, iPhone 
        .box
          .col_1of2
            .sticky_content
              h1.project_header Analysis
              p
                | The reason the app wasn’t “app-like” was because it the book covers were not uniform. Also, the elements on the app is missing white space or padding.
              p
                | Another reason is that some interactions don’t actually exist in iOS therefore, it looks weird in the app. Like the floating information icon on the book covers. 
              p
                | However, the app's main problem was that it's not user friendly as a lot of the interactions were not intuitive or clear. Like the navigation bar at the bottom, blue was used to highlight the selected tab on a green navigation bar. Or the combination of using a hamburger menu and a bottom navigation bar.
          .col_1of2.sticky_img_div.img_div_padding
            img.small_project_img(src='img/atb/atb_1.jpg', alt='cover view before re-design')
            p.caption  Cover view for the books 
            img.small_project_img(src='img/atb/atb_2.jpg', alt='list view before re-design')
            p.caption  List view for the books 
            img.small_project_img(src='img/atb/atb_3.jpg', alt='hamburger menu before re-design')
            p.caption  Hamburger menu 

        h1.project_header Process 
        .box.process_div
          .col_1of2.project_text_div
            h3.project_subheader Research 
            p
              | To start off, I talked to people who are responsible for the app, to see where they thought existing problems were or where they thought the app could improve.
            p 
              | Then I looked into the 
              a.highlight(href='https://developer.apple.com/ios/human-interface-guidelines/overview/design-principles/') design guidelines of apple.
              |  In attempts to make it more “app-like” and to learn apple’s design language.
          .col_1of2.project_img_div
            img.project_img(src='img/atb/elements.jpg', alt="elements from apple's design guideline")
            p.caption Elements that inspired the redesign of the active textbook app
        .box.process_div
          .col_1of2.project_text_div
            .sticky_content
              h3.project_subheader Grey Scale Mock-ups 
              p
                | I looked into the 
                span.highlight actions 
                | a user would take if they were to use the app, or what 
                span.highlight purpose 
                | they would have when they are using the app. 
              p
                | I made mockups using 
                span.highlight  Adobe Illustrator 
                |  for each screen that was needed from the research.
              p
                | Here are some variations of grey scale mockups I did of the same screen to test how the placement of elements would work with each other.
          .col_1of2.sticky_img_div.img_div_padding
            img.small_project_img(src='img/atb/grey_mockup1.jpg', alt='Grey scale mockup of the top and bottom navigation bar')
            img.small_project_img(src='img/atb/grey_mockup2.jpg', alt='Grey scale mockup of the top and bottom navigation bar')
            img.small_project_img(src='img/atb/grey_mockup3.jpg', alt='Grey scale mockup of the top and bottom navigation bar')
        .box.process_div
          .col_1of2.project_text_div
            .sticky_content
              h3.project_subheader High Fidelity Mock-ups 
              p
                | High fidelity mock-ups are effective for allowing the developer and my supervisor to get a better understand how the visual design and the elements in the app.
              p
                | After every iteration, I would email it to the supervisor and developer. Then a meeting will be held to discuss and critique my designs. After the meeting, I would go back and make changes to the mockups and present them again.
              p
                | Here are examples of high fidelity mockups of both iphones and ipads
          .col_1of2.sticky_img_div
            img.project_img(src='img/atb/high_mockup1.jpg', alt='redesigned cover view')
            p.caption  Cover View
            img.project_img(src='img/atb/high_mockup2.jpg', alt='redesigned list view')
            p.caption  List View
            img.project_img(src='img/atb/high_mockup3.jpg', alt='new account tab')
            p.caption  Account Tab 
            img.project_img(src='img/atb/high_mockup4.jpg', alt='book description')
            p.caption  Book Description
        .box.process_div
          .col_1of2.project_text_div
            h3.project_subheader Presentation 
            p
              | In the presentation slides I put in annotations describing the purpose and details of each element. This way, people reviewing my mockups will know what the purpose of each element is.
            p
              a.color_link(href='')  see presentation slides
          .col_1of2.project_img_div
            img.project_img(src='img/atb/atb_4.jpg', alt='example presentation slides')
            p.caption  Example of presentation slides 
        .box.process_div
          .col_1of2.project_text_div
            h3.project_subheader Conflict 
            p
              | After finishing the mockups, I show it to my co-worker and supervisor. We discuss what could be iterated upon. There were some difficulties with discussing the features in the app.
            p
              | For example, how the user will be able to find more information about the book in cover view. I came up with a few solutions, but the supervisor didn’t find the need to change the way book details was being accessed.
          .col_1of2.project_img_div
            img.project_img(src='img/atb/high_mockup1.jpg', alt='redesigned cover view')
            p.caption  Cover book views that can't access "More Options" of a book 
        .box.process_div
          .col_1of2.project_text_div
            h3.project_subheader Solution 
            p
              | In the end, I kept iterating upon the design and convinced my supervisor on a solution that we were both happy with. Instead of having a floating icon, the user can access details about the book through a long press on the book. However, the user won’t be able to know about this action without instructions, therefore, I added onboarding to the app.
          .col_1of2.project_img_div
            img.project_img(src='img/atb/atb_solution.jpg', alt='cover view with menu option')
            p.caption  The chosen design option for accessing "More Options" of a book
        .box.process_div
          .col_1of2.project_text_div
            .sticky_content
              h1.project_header Take away 
              p
                | I wasn't completely happy with the solution of adding an onboarding to let the user know the interactions needed to access parts of the app, because not all people read or go through the onboarding. So they can actually miss the information. Also, onboarding can also be a lot of information to intake at once for the user, therefore I don't think it is the best solution, but it is a solution that my employer agreed to, to keep the design I made.
          .col_1of2.sticky_img_div
              img.project_img(src='img/atb/onboarding_1.jpg', alt='onboarding step 1')
              p.caption  Onboarding: Step 1 
              img.project_img(src='img/atb/onboarding_2.jpg', alt='onboarding step 2')
              p.caption  Onboarding: Step 2 
              img.project_img(src='img/atb/onboarding_3.jpg', alt='onboarding step 3')
              p.caption  Onboarding: Step 3 
