doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Mandy Cheung
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/grid.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Athiti', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Yanone%20Kaffeesatz', rel='stylesheet')
  body
    include includes/navbar.pug
    nav.navbar
      include includes/project_nav.pug
      .box.nav_div
        .col_2of3
          h1  ADDING VALUE TO STRAVA
      .box.bottom_nav_div     
         .project_nav.proj_previous_div
           a(href='project2.html') prev project
         .project_nav.proj_back_div
           a(href='index.html') all projects
         .project_nav.next_proj_div
           a(href='project1.html') next project

    .project_content
      .hero_img_div
        img.project_hero(src='img/Project3_cover.png', alt='7Trades home page image')
      .box
        .project_content_div.project_text_div
          h1.project_header  Scope 
          p
            | School Project.
          p
            span.highlight Research 
            | and analyze Strava to gain 
            span.highlight insights 
            | about the app. Find out where the gaps are between the users' and their goal. When opportunity is found, use it to add value to Strava.
          p
            | Only analyzed Strava on 
            span.highlight Android 
            | smart phones.
        .project_content_div
          h1.project_header  Team 
          p Michaela Tsumura, Mandy Cheung
          h1.project_header Work Distribution 
          p
            | The new screens that would implement the new feature is split evenly amongst ourselvevs. I did the mockups for accessing the music feature through Strava and the screens for after a run/cycle. We separately did research and compared our findings. Then we came together to analyze and brainstorm the direction Strava should move towards to gain value.
      .box.center
        .box.toolbox_div
          .project_content_div.skills_padding
            h2  Skills 
            ul
              li  Research 
              li  Presentation
              li  Analysis
          .project_content_div
            h2  Tools 
            ul
              li  Adobe Illustrator 
      h1.project_header Process 
      .box
        .project_content_div.project_text_div
          h3.project_subheader Ideo Research Methods Used
          p
            span.highlight Activity Analysis:  
            |  "List in detail all actions, tasks, objects, performers and interaction involved in a process." We chose this analysis method as one of our research methods because we didn't know much about Strava so by going through all possible actions and listing them, we will get to know the app a lot better.
          p
            span.highlight Extreme User Interview: 
            | In order to find out more about how users use and feel about Strava, we made a questionnaire using Google Survey and conducted a survey with people that used Strava frequently. The results were quite intruiting.
        .project_content_div
          h3.project_subheader Insights and Opportunities 
          p
            span.highlight Insights
            ul
              li Users main objective in the app is to track running / cycling statistics
              li People find the route builder a desirable feature 
              li Most users have a goal to achieve a higher level of fitness
              li Poor compatibility with mobile music applications
              //- li Trouble with using a phone / app while biking
          p
            span.highlight Opportunities
            ul
              li Integrate a music feature: either sync with a music streaming service or access downloaded songs in Strava
              //- li Ability to control recording feature without opening the app during a run/cycle
              li Privacy Setting: before posting, choose what information to be shared (if any)
              li Trophies and Achievements for competitive people

      //- .box.process_div
      //-   .project_content_div.project_text_div
      //-     .sticky_content
      //-       h3.project_subheader Ideo Research Methods 
      //-       p
      //-         span.highlight Activity Analysis:  
      //-         |  "List in detail all actions, tasks, objects, performers and interaction involved in a process." We chose this analysis method as one of our research methods because we didn't know much about Strava so by going through all possible actions and listing them, we will get to know the app a lot better.
      //-       p
      //-         span.highlight Extreme User Interview: 
      //-         | In order to find out more about how users use and feel about Strava, we made a questionnaire using Google Survey and conducted a survey with people that used Strava frequently. The results were quite intruiting.
      //-       //- p
      //-       //-   | For example, although most participants were not concerned with the privacy in Strava, there were 12.5% that were concerned. They didn't want Facebook friends to see their route without permission. Also, only 50% of the members found the premium version of Strava worth having. One participant said, "I don't see any value in any of the premium services that they offer."
      //-     //- .orange_box
      //-     //-   p.title Future Improvement
      //-     //-   p
      //-     //-     | Next time have specific templates that would be used for each page
      //-   //- .project_content_div.project_img_div
      //-   //-   img.project_img(src='img/7Trades/P02_Sitemap.jpg', alt='Site map of 7Trades Catering Company')
      //-   //-   p.caption_last  Activity Analysis
      //-   .project_content_div.sticky_img_div
      //-     img.project_img.no_img(src='img/no-img.png', alt='no image')
      //- .box.process_div
      //-   .project_content_div.project_text_div
      //-     .sticky_content
      //-       h3.project_subheader Insights and Opportunities 
      //-       p
      //-         span.highlight Insights
      //-         ul
      //-           li Users main objective in the app is to track running / cycling statistics
      //-           li People find the route builder a desirable feature 
      //-           li Most users have a goal to achieve a higher level of fitness
      //-           li Poor compatibility with mobile music applications
      //-           //- li Trouble with using a phone / app while biking
      //-       p
      //-         span.highlight Opportunities
      //-         ul
      //-           li Integrate a music feature: either sync with a music streaming service or access downloaded songs in Strava
      //-           //- li Ability to control recording feature without opening the app during a run/cycle
      //-           li Privacy Setting: before posting, choose what information to be shared (if any)
      //-           li Trophies and Achievements for competitive people
      //-   .project_content_div.sticky_img_div
      //-     img.project_img.no_img(src='img/no-img.png', alt='no image')

      .box.process_div
        .project_content_div.project_text_div
          .sticky_content
            h3.project_subheader Selecting an Opportunity 
            p
              | Between the three choices, we decided to go with  
              span.highlight integrating a music feature. 
              | This is because Strava lacks a music feature that a lot of their competitors already have. 
            p
              | Not everyone have mp3 files readily downloaded on phones these days, people mainly use streaming services to access music. It doesn't make sense for Strava to make their own music service, so 
              span.highlight collborating with a music streaming service 
              | is probably best for Strava.
            p
              | However, just having music integration doesn't give enough value to stand out from their competitors. A feature that could be paired with the music integration is to get results after a run about how certain songs, playlists, albums affect your run/cycle. Another feature could be to set a certain beat you like to run to, and only have songs play with that beat.
        .project_content_div.sticky_img_div
          img.project_img.no_img(src='img/no-img.png', alt='no image')
          //- p.caption_last (left) Login screen  |  (right) drop down nav bar
      .box.process_div
        .project_content_div.project_text_div
          .sticky_content
            h3.project_subheader Keeping Consistent 
            p
              | We 
              span.highlight analyzed the design elements in the Strava's Android app
              | , like flow of the app, buttons, navigation bars and typography. In order to keep consistent between the two brands, we analyzed Spotify's Android app as well.
            p
              | For consistency's sake, 
              span.highlight Strava's color scheme was kept and Spotify's music interface structure and gestures were kept
              | .This way, Spotify users that decide to use Strava will not have to learn a new interface; and vice versa, when a Strava user decides to use Spotify, they also won't have to learn a new interface.
        .project_content_div.sticky_img_div
          img.project_img(src='img/strava/consistent_1.png', alt='2 screens showing consistency')
          p.caption (left) Screen: Login  |  (right) drop down nav bar
          img.project_img(src='img/strava/consistent_2.png', alt='2 screens showing consistency')
          p.caption (left) Checkboxes  |  (right) Screen: start a run
          img.project_img(src='img/strava/consistent_3.png', alt='2 screens showing consistency')
          p.caption_last (left) Screen: save activity  |  (right) Statistics bar and bottom nav
      .box.process_div
        .project_content_div.project_text_div
          h3.project_subheader Fleshing out and Low fidelity Mock ups 
          p
            | Initial iteration of mockups for music feature implementation. We mainly focused on making sure the flow of the app isn't lost after music implementation.
          p
            | We had to solve problems such as, how will the user connect to Spotify on Strava and where in the navigation drop down would best suit the option for music.
        .project_content_div.project_text_div
          img.project_img(src='img/strava/low_fid.png', alt='low fidelity')
          p.caption_last Low Fidelity Mockups
      .box.process_div
        .project_content_div.project_text_div
          .sticky_content
            h3.project_subheader High Fidelity Mock ups 
            p
              | Keeping consistent with Strava's colour schemes and icons.
            .orange_box
              p.title Problem encountered
              p
                | Some of the spacing in the low fidelity mockups were too large, therefore; when we put the real icons in, it looked out of place. Adjustments to the layout and concept had to be made.
        .project_content_div.sticky_img_div
          img.project_img(src='img/strava/high_fid.png', alt='high fidelity')
          p.caption_last High Fidelity Mockups
          img.project_img(src='img/strava/problem.png', alt='high fidelity')
          p.caption_last Transfer from low fidelity mockups to high fidelity mock ups doesn't work because change of concept
      .box.process_div
        .project_content_div.project_text_div
          h3.project_subheader Results: Value Added? 
          p
            | We realized that it doesn't make sense to implement the WHOLE Spotify app into Strava, if we did that then it's not a "collaboration", therefore in Strava you only get to select playlists that you made in Spotify, and you can import it into Strava to run to. This way it's beneficial for both Spotify and Strava.
        .project_content_div.project_text_div
          img.project_img(src='img/strava/results_musicfeat.png', alt='running and music feature')
          //- p.caption_last Last iteration of order page
      .box.process_div
        .project_content_div.project_text_div
          .sticky_content
            h1.project_header Take away 
            p
              | Overall, I am very happy with the result of this project, I felt that ever step made sense and it will add value to both companies, Strava and Spotify. Users from Spotify can cross over to Strava and Strava users will be encouraged to use Spotify. 
            p 
              | A problem that can come up is that if Strava users use other streaming companies like Pandora or Apple Music will be upset. 
            p
              | Ways to improve: 
        //- .project_content_div.sticky_img_div
        //-   img.project_img(src='img/strava/results_musicfeat.png', alt='running and music feature')
          //- p.caption Finished homepage of 7Trades