doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Mandy Cheung
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/grid.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Athiti', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Yanone%20Kaffeesatz', rel='stylesheet')
  body
    include includes/navbar.pug
      .nav_div.box
        .col_1of6.proj_back_div
          a(href='projects.html') back to all projects
        .col_2of3
          h1  Designing a Catering Website 
        .col_1of6.next_proj_div
          a(href='project1.html') next project
    .project_content
      .box.center
        .col_2of3.project_hero_div
          img.project_hero(src='img/7Trades_hero.png', alt='example image')
      .project_body_margin
        .box
          .col_1of2
            h1  Scope 
            p
              | School project in groups of two, to create a company website with an order process.
          .col_1of2
            h1  My Role 
            p
              | My partner and I planned the website’s templates together. We split up the pages to do among ourselves. I did the order and menu pages.
        .box.center
          .box.toolbox_div
            .col_1of2
              h2  Skills 
              ul
                li  HTML 
                li  CSS 
                li  Javascript 
            .col_1of2
              h2  Tools 
              ul
                li  Adobe Illustrator 
                li  Adobe Photoshop 
                li  Git 
        h1  Problem 
        .box
          .col_1of2
            p
              | The order forms not give off the feeling legitimacy. Which would make users feel not safe and not trust the website to place an order.
        h1  Process 
        .box
          .col_2of3.project_text_div
            h3.project_subheader  HTML + CSS 
            p
              | I brainstormed the visual layout of the steps in the order process, I used HTML and CSS to code the template of the order process. The forms were visually appealing, but there was something about the forms that did not seem legitimate.
        .box.project_img_div
          .col_1of2
            img.project_img(src='img/7Trades_1.png', alt='Step 1: Choose Menu')
            p.caption  Step 1: Choose Menu 
          .col_1of2
            img.project_img(src='img/7Trades2.png', alt='Step 2: Menu Details')
            p.caption  Step 2: Menu Details 
        .box.project_img_div
          .col_1of2
            img.project_img(src='img/7Trades3.png', alt='Step 3: Payment')
            p.caption  Step 3: Payment 
          .col_1of2
            img.project_img(src='img/7Trades4.png', alt='Step 4: Confirmation')
            p.caption  Step 4: Confirmation 
        .box.project_img_div
          .col_1of2
            img.project_img(src='img/7Trades2.png', alt='Step 5: Reciept')
            p.caption  Step 5: Reciept 
        .box
          .col_2of3.project_text_div
            h3.project_subheader  Critique 
            p
              | At school, our website was tested and critiqued in many ways. For example, if it was responsive, load time, functional without Javascript, and feeling of security. Feedback on our website was relatively positive, but there was a few critique and we took it to improve on our website.
            p
              | What I took away from the critique that was more helpful than the feedback was seeing other classmate’s website. I got to see how other people did their order process, and how the homepage can be more impactful.
        .box.project_img_div
          .col_1of2
            img.project_img(src='img/7Trades5.png', alt='Step 1: Choose a Menu')
            p.caption  Step 1: Choose a Menu 
          .col_1of2
            img.project_img(src='img/7Trades6.png', alt='Step 2: Menu Details')
            p.caption  Step 2: Menu Details 
        .box.project_img_div
          .col_1of2
            img.project_img(src='img/7Trades7.png', alt='Step 3: Payment')
            p.caption  Step 3: Payment 
          .col_1of2
            img.project_img(src='img/7Trades8.png', alt='Step 4: Confirmation')
            p.caption  Step 4: Confirmation
        .box.project_img_div
          .col_1of2
            img.project_img(src='img/7Trades9.png', alt='Step 5: Reciept')
            p.caption  Step 5: Reciept 
        .box
          .col_2of3.project_text_div
            h3.project_subheader  Creating legitimacy 
            p
              | After the critique, I implemented a process bar into our website’s order process, taken from other classmate’s websites. However, just adding the process bar did not make it as legitimate as I wanted it to be. I tried to discuss with my partner what made it seem not legitimate. However, we couldn’t come up with a solution.
            p
              | That night, I went through an order and purchase process online. As I was going through it, I took screen shots and saw what details made me feel like the purchase process was legitimate. The main difference was to put the content closer together, which meant putting a larger margin to wrap the content.
        .box.project_img_div
          .col_2of3
            img.project_img(src='img/7Trades_final1.png', alt='redesigned cover view')
            p.caption  Step 1 
        h1.project_header  Solution 
        .col_2of3
          p
            | I learned from this experience that I should look at real life examples for references and see what the standards are for any process. As it is important for to make the user feel safe when going through an order process.
        .box.center
          .col_1of2
            a.color_link(href='https://www.sfu.ca/~mmc29/IAT339/P02-cocoa/')  see full website 
        .box.project_img_div
          .col_1of2
            img.project_img(src='img/7Trades_final1.png', alt='Step 1: Choosing Menu')
            p.caption  Step 1: Choosing Menu 
          .col_1of2
            img.project_img(src='img/7Trades_final2.png', alt='Step 2: Menu Details')
            p.caption  Step 2: Menu Details 
        .box.project_img_div
          .col_1of2
            img.project_img(src='img/7Trades_final3.png', alt='Step 3: Payment')
            p.caption  Step 3: Payment 
          .col_1of2
            img.project_img(src='img/7Trades_final4.png', alt='Step 4: Confirmation')
            p.caption  Step 4: Confirmation 
        .box.project_img_div
          .col_1of2
            img.project_img(src='img/7Trades_final5.png', alt='Step 5: Reciept')
            p.caption  Step 5: Reciept 
          .col_1of2
            img.project_img(src='img/7Trades_final6.png', alt='Thank you page')
            p.caption  Thank you page 
