doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Mandy Cheung
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/grid.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Athiti', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Yanone%20Kaffeesatz', rel='stylesheet')
  body
    include includes/navbar.pug
    nav.navbar
      include includes/project_nav.pug
      .box.nav_div
        .col_2of3
          h1  Designing a Catering Website
      .box.bottom_nav_div     
         .col_1of3.proj_previous_div
           a(href='project1.html') previous project
         .col_1of3.proj_back_div
           a(href='projects.html') back to all projects
         .col_1of3.next_proj_div
           a(href='project1.html') next project

    .project_content
      .hero_img_div
        img.project_hero(src='img/7Trades_hero.png', alt='7Trades home page image')
      .box
        .project_content_div.project_text_div
          h1.project_header  Scope 
          p
            | School project in groups of two, to 
            span.highlight create a company website 
            | with an order process. 
          p 
            | The website needs to be 
            span.highlight responsive 
            | on all types of screen sizes needs to have 
            span.highlight accessibility
            | .
          p
            | My partner and I chose to do a 
            span.highlight catering 
            | company that specializes in desserts.
          a.color_link(href='') view full website
        .project_content_div
          h1.project_header  Team 
          p Joanathan Chau, Mandy Cheung
          h1.project_header Work Distribution 
          p
            | My partner and I planned the website’s templates together. We split up the pages to do among ourselves. I did the 
            span.highlight order
            |, 
            span.highlight menu 
            | and 
            span.highlight homepage
            | . I also coded the style guide and did the 
            span.highlight branding and styling 
            | of the company.
      .box.center
        .box.toolbox_div
          .project_content_div.skills_padding
            h2  Skills 
            ul
              li  HTML 
              li  CSS 
              li  Javascript 
          .project_content_div
            h2  Tools 
            ul
              li  Adobe Illustrator 
              li  Adobe Photoshop 
              li  Git 
      h1.project_header Process 
      .box.process_div
        .project_content_div.project_text_div
          h3.project_subheader Site Map + Templating 
          p
            | Together, my partner and I made a sitemap that includes 
            span.highlight all the pages and content
            |  that would go into each page. 
          p
            | When we weren’t too entirely sure on what a catering website should have we 
            span.highlight researched 
            | into existing websites and see what pages they have and see if it’s applicable to our company.
          .orange_box
            p.title Future Improvement
            p
              | Next time have specific templates that would be used for each page
        .project_content_div.project_img_div
          img.project_img(src='img/7Trades/P02_SiteMap.jpg', alt='Site map of 7Trades Catering Company')
          p.caption_last  7Trades Site Map
      .box.process_div
        .project_content_div.project_text_div
          .sticky_content
            h3.project_subheader Branding 
            p
              | The brand colours chosen of 7Trades was chosen between my partner and I. We felt blue gave off the feeling of high-class or luxury. 
            p
              | The font and other styled elements was inspired from modern coffee shops and their websites. 
            p
              | We wanted the website to give off a 
              span.highlight clean, vibrant look 
              | along with being professional and not too playful. Thus, the photos in the website has to be bright, colourful and vibrant. The background of the website is white to give off the clean feel. 
            p
              a.color_link(href='')  see full style guide
        .project_content_div.sticky_img_div
          img.project_img(src='img/7Trades/styleguide.jpg', alt='7 Trades Style Guide')
          p.caption_last Snippet of 7 Trades Style Guide
      .box.process_div
        .project_content_div.project_text_div
          .sticky_content
            h3.project_subheader Coding HTML + CSS
            p
              | Then we split the pages up among ourselves I used HTML and CSS to code the 
              span.highlight homepage
              | , 
              span.highlight menu 
              |and 
              span.highlight order process
              | . 
            p 
              | Whenever I didn’t know how to code something, I would look on 
              a.highlight(href='https://www.w3schools.com/') W3School 
              | or 
              a.highlight(href='https://developer.mozilla.org/en-US/') MDN 
              | to check for the correct syntax. 
        .project_content_div.sticky_img_div
          img.project_img(src='img/7Trades/code.jpg', alt='7 Trades Style Guide')
          p.caption_last Snippet of 7 Trades Style Guide
      .box.process_div
        .project_content_div.project_text_div
          h3.project_subheader First iteration 
          p
            | With the first iteration, there was still a lot unsure elements in the website. For example, the nav bar at the top has weird alignment. 
          p 
           | The menu items has a image underlay which makes the text hard to read. The layout organization could be improved upon as well, as it was confusing that all the menus were just listed in a 3x3 grid.
        .project_content_div.project_text_div
          img.project_img(src='img/7Trades/iteration_1.jpg', alt='First iteration of Order Page')
          p.caption_last First iteration of Order Page
      .box.process_div
        .project_content_div.project_text_div
          h3.project_subheader Critique 
          p
            | At school, our website was 
            span.highlight critiqued 
            | and 
            span.highlight tested in many ways
            | . For example it was test for: responsiveness, load time, functional without Javascript, and feeling of security for the user. 
          p
            | Feedback on our website was relatively positive, but there was a few critique and we took to improve on our website.
          .orange_box
            p.title What I learned
            p
              | I learned more from looking at other classmates’ websites than the feedback my partner and I got from our classmates. We used other classmates’ websites as inspiration to improve on our own.
        .project_content_div.project_img_div
          img.project_img(src='img/7Trades/preprogressbar.jpg', alt='Order page before progress bar was implemented')
          p.caption_last What the order page looks like going into the critique
      .box.process_div
        .project_content_div.project_text_div
          h3.project_subheader Iteration: Creating legitimacy 
          p
            | From the critique, I felt that our order forms was lacking legitimacy. I implemented a process bar to show progress in the order form.
          p
            | But the form was 
            span.highlight still lacking
            | . I tried discussing with my partner to try to figure out what was missing. 
        .project_content_div.project_img_div
          img.project_img(src='img/7Trades/implement_progressbar.jpg', alt='First iteration of implementing progress bar')
          p.caption_last Progress bar implementation
      .box.process_div
        .project_content_div.project_text_div
          .sticky_content
            h3.project_subheader Analysis 
            p
              | I went through a purchase process on STEAM, a online platform that sells games. From that, I screenshotted and analyzed what made me feel “safe” or what made the purchase process feel legitimate. 
            p
              | I noticed that the form is 
              span.highlight restricted to a certain size
              | and there were 
              span.highlight fine print 
              | throughout the form to inform the user in case they felt insecure about something. They specifically let the user know when they were purchasing.  
        .project_content_div.sticky_img_div
          img.project_img(src='img/7Trades/steam_1.jpg', alt='Steam Purchase Screen: Cart')
          p.caption Steam's Cart
          img.project_img(src='img/7Trades/steam_3.jpg', alt='Steam Purchase Screen: payment page')
          p.caption_last Steam's Payment Page
      .box.process_div
        .project_content_div.project_text_div
          h3.project_subheader Results 
          p
            | For 7Trades’ order forms, I put in margins so the form was a 
            span.highlight set size
            | , and it instantly made the forms look more legitimate. 
        .project_content_div.project_text_div
          img.project_img(src='img/7Trades/order_final.jpg', alt='Final iteration of the order page')
          p.caption_last Last iteration of order page
      .box.process_div
        .project_content_div.project_text_div
          .sticky_content
            h1.project_header Take away 
            p
              | I learned from this experience that I should look at 
              span.highlight exisiting examples 
              | for reference and see what the 
              span.highlight standards
              |. It is important for to make the user feel safe when going through an order forms because 
              span.highlight without the feeling of safety 
              | they 
              span.highlight may not 
              | make the purchase on the website.

            p
              | To continue iterating on the website I would put in more fine print throughout the order forms to create even more security for the user.
        .project_content_div.sticky_img_div
          img.project_img(src='img/7Trades/homepage.jpg', alt='7Trades Homepage')
          p.caption Finished homepage of 7Trades