doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Mandy Cheung
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/grid.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Athiti', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Yanone%20Kaffeesatz', rel='stylesheet')
  body
    include includes/navbar.pug
    nav.navbar
      include includes/project_nav.pug
      .box.nav_div
        .col_2of3
          h1  ADDING VALUE TO STRAVA
      .box.bottom_nav_div     
         .project_nav.proj_previous_div
           a(href='project2.html') prev project
         .project_nav.proj_back_div
           a(href='index.html') all projects
         .project_nav.next_proj_div
           a(href='project1.html') next project

    .project_content
      .hero_img_div
        img.project_hero(src='img/Project3_cover.png', alt='7Trades home page image')
      .box
        .project_content_div.project_text_div
          h1.project_header  Scope 
          p
            | School Project. Summer 2016.
          p
            span.highlight Research 
            | and analyze Strava to gain 
            span.highlight insights 
            | about the app. Find out where the gaps are between the app and the users' goal. When opportunity is found, use it to add value to Strava.
          p
            | Only analyzed Strava on 
            span.highlight Android 
            | smart phones.
        .project_content_div
          h1.project_header  Team 
          p Michaela Tsumura, Mandy Cheung
          h1.project_header Work Distribution 
          p
            | We both conducted research then came together to discuss and compare our findings. Together, we analyzed and brainstormed the direction we would like to move Strava towards to gain value. The mock ups were even distributed amongst ourselves.
      .box.center
        .box.toolbox_div
          .project_content_div.skills_padding
            h2  Skills 
            ul
              li  Research 
              li  Presentation
              li  Analysis
          .project_content_div
            h2  Tools 
            ul
              li  Adobe Illustrator 
      h1.project_header Process 
      .box.process_div
        .project_content_div.project_text_div
          h3.project_subheader Ideo Research Methods Used
          p
            span.highlight Activity Analysis:  
            | This method allowed us to get to know Strava better by going through the app and listing in detail all actions, tasks, objects, performers and interactions involved in a process.
          p
            span.highlight Extreme User Interview: 
            | In order to find out more about how users use and feel about Strava, we made a questionnaire using Google Survey to conducted a survey with people that used Strava frequently.
        .project_content_div
          p
            span.highlight Insights
            ul
              li Users main objective in the app is to track running / cycling statistics
              li People find the route builder a desirable feature 
              li Most users have a goal to achieve a higher level of fitness
              li Poor compatibility with mobile music applications
              //- li Trouble with using a phone / app while biking
          p
            span.highlight Opportunities
            ul
              li Integrate a music feature: either sync with a music streaming service or access downloaded songs in Strava
              li Privacy Setting: before posting, choose what information to be shared (if any)
              li Trophies and Achievements
      .box.process_div
        .project_content_div.project_text_div
          h3.project_subheader Brand Analysis 
          p
            | We analyzed the design elements in the Strava's 
            span.highlight Android app 
            | by taking screenshots of every screen we came across. We paid attention to the flow of the app, buttons, icons, navigation bars and typography. This was our guideline to keep consistent with Strava's brand. 
        .project_content_div.project_text_div
          img.project_img(src='img/strava/brand_1.png', alt='Patterns, colors and buttons in Strava')
          p.caption_last Strava's Brand elements extracted
      .box.process_div
        .project_content_div.project_text_div
          .sticky_content
            h3.project_subheader Selecting an Opportunity 
            p
              | Between the three choices, we decided to go with  
              span.highlight integrating a music feature. 
              | This is because Strava lacks a music feature that a lot of their competitors already have. 
            p
              | These days, people mainly use streaming services to access music. It doesn't make sense for Strava to make their own music service because it will take away from the purpose of the app, to track running / cycling routines. Therefore, 
              span.highlight collborating with a music streaming service 
              | is probably best for Strava. In this case, we decided to collaborate Strava with
              span.highlight Spotify.
            p
              | However, implementing a music playing feature doesn't give enough value to stand out from their competitors. A music feature that can provide users useful information about their run/cycle corresponding to the music they listened to will allow users to see how to keep up a consistent pace during their run/cycle!
        .project_content_div.sticky_img_div
          img.project_img.no_img(src='img/no-img.png', alt='no image')
          //- p.caption_last (left) Login screen  |  (right) drop down nav bar
      .box.process_div
        .project_content_div.project_text_div
          .sticky_content
            h3.project_subheader Implementation with Low Fidelity Mock ups
            p
              | To seamlessly integrate Spotify into Strava, we looked at the current app to see where we can implement Spotify. We tried our best to use existing layouts to keep consistent with Strava. Such as Figure 2.
            p
              | In Figure 3 and 4, is where the music feature is implemented; creating a playlist and choosing the playlist for the run/cycle.
            p
              | Lastly, in Figure 5, it shows the progress of your run in correlation to the songs the user listened to during their run/cycle.
        .project_content_div.sticky_img_div
          img.project_img(src='img/strava/implement_1.png', alt='low fidelity mockups')
          p.caption Figure 1. Placing the Spotify feature in the drop down menu
          img.project_img(src='img/strava/implement_2.png', alt='low fidelity mockups')
          p.caption Figure 2. Inspiration from the settings page, Spotify will use a similar layout
          img.project_img(src='img/strava/implement_3.png', alt='low fidelity mockups')
          p.caption Figure 3. Creating a playlist in Strava
          img.project_img(src='img/strava/implement_4.png', alt='low fidelity mockups')
          p.caption Figure 4. Selecting playlist before a run/cycle
          img.project_img(src='img/strava/implement_5.png', alt='low fidelity mockups')
          p.caption_last Figure 5. A graph form to depict the progress of a user's run/cycle
      .box.process_div
        .project_content_div.project_text_div
          .sticky_content
            h3.project_subheader Change of plans
            p
              | Although our goal was to not turn Strava into a music app and mainly focus on being a running app, we made Strava have a very large section explicitly for music. 
            p
              | When we realized this, we knew we had to change and rethink on how we want to execute the music feature without being too overpowering.
        .project_content_div.sticky_img_div
          img.project_img(src='img/strava/problem_1.png', alt='problem with implementation')
          p.caption Examples of turning Strava into a music app
          img.project_img(src='img/strava/implement_3.png', alt='problem with implementation')
          p.caption_last Examples of turning Strava into a music app
      .box.process_div
        .project_content_div.project_text_div
          .sticky_content
            h3.project_subheader Listening to music within Strava
            p
              | When people first access Spotify within Strava, they will be greeted to login to Spotify to access the information on Spotify, as demonstrated in Figure 6.
            p 
              | Instead of making a playlist on Strava, people will be have to pre-make their playlists on Spotify to be synced with Strava. They can also choose to sync stations that they are already following on Spotify.
        .project_content_div.sticky_img_div
          img.project_img(src='img/strava/solution_1.png', alt='solution to implementation problem')
          p.caption Figure 6. Logging into Spotify in Strava
          img.project_img(src='img/strava/solution_2.png', alt='solution to implementation problem')
          p.caption_last Option to sync playlists or stations onto Strava
      .box.process_div
        .project_content_div.project_text_div
          h3.project_subheader Results: Value Added? 
          p
            | By implementing Spotify into Strava this way, users will be able to listen to music seamlessly while tracking their run/cycle. Strava also remains being a fitness app and users can see how the songs they listened to affect their performance. 
          p
            | The push for Strava users to make playlists on Spotify is a good incentive for Spotify to collaborate with Strava. Strava users will be introduced to Spotify through their app, and Spotify users can gain exposure to Strava by promoting healthy lifestyles for their customers.
        .project_content_div.project_text_div
          img.project_img(src='img/strava/high_f2.png', alt='running and music feature')
          p.caption_last Graphs showing how music Strava user listened to corresponded to their run
      .box.process_div
        .project_content_div.project_text_div
          h1.project_header Take away 
          p
            | The IDEO research methods gave really good insights on Strava. Although more time to ask a larger group of people for the Extreme User Survey would have been more beneficial to get rid of the outliers in the group.
          p
            | This project is viable and beneficial for both companies. A problem that could surface is what if Strava were to partner with other streaming companies like Apple Music or Pandora?  
        .project_content_div.project_text_div
          img.project_img(src='img/strava/high_f1.png', alt='running and music feature')
          p.caption Accessing music information in Strava