doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Mandy Cheung
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/grid.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Athiti', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Yanone%20Kaffeesatz', rel='stylesheet')
  body
    nav.navbar
      .nav_div.box
        .col_1of2
          a.logo(href='index.html')
            img.logo(src='img/logo.png', alt='Mandy Cheung logo')
      .nav_div.box
        .col_1of2
          input#nav(type='checkbox')
          label(for='nav')
          ul.nav_list
            li
              a(href='index.html') Home
            li
              a(href='about.html') About
            li
              a(href='projects.html') Projects
            li
              a.nav_li_highlight(href='resume.html') Resumè
    .content
      .box.center
        .col_1of2
          a.color_link(href='https://www.sfu.ca/~mmc29/Resume_Fall2016.pdf')  download resume 
      .box.center
        .col_2of3.resume_div
          img.resume_img(src='img/resume_1.jpg', alt='resume page 1')
      .box.center
        .col_2of3.resume_div
          img.resume_img(src='img/resume_2.jpg', alt='resume page 2')
