doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='css/styleguide.css')
    script(type='text/javascript', src='js/javascript.js')
    title Mandy Cheung's Portfolio Style Guide
    link(href='https://fonts.googleapis.com/css?family=Athiti', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Yanone%20Kaffeesatz', rel='stylesheet')
  body
    .navbar_margin
      ul.guide_navbar
        li.navbar_li.guide_logo_div
          img.guide_logo(src='assets/logo.png', alt='logo')
          p.logo_title  Mandy's Portfolio 
          p.logo_title  Style Guide 
        li.navbar_li
          a(href='#grid')  The Grid 
        li.navbar_li
          a(href='#color')  Colour Palette
        li.navbar_li
          a(href='#nav')  Navigation 
        li.navbar_li
          a(href='#typography')  Typography 
        li.navbar_li
          a(href='#form')  Form Elements 
    .navbar_margin
      // ////// GRIDS /////
      h2#grid.h2_padding_first  The Grid 
      h3.grid_title_margin  Large and Medium Screens
      p Using 6 column grids
      .box
        .grid_item
          p.p_subtitle_padding  2 column 
          img.grid_img(src='assets/column2.jpg', alt='Large screen 2 column grid')
        .grid_item
          p.p_subtitle_padding  3 column 
          img.grid_img(src='assets/column3.jpg', alt='Large screen 3 column grid')
      .box
        .grid_item
          h3.grid_title_margin  Small Screens 
          p  1 column 
          img.small_grid_img(src='assets/phone.jpg', alt='Small screen 1 column grid')
        .grid_item
          h3.grid_title_margin  Tiny Screens 
          p  1 column 
          img.small_grid_img(src='assets/smartwatch.jpg', alt='Tiny screen 1 column grid')
      h3  Breakpoints
      .box
        .grid_item
          h4  Laptop / Smaller monitors
          p
            | Break Point: 
            code  @media (max-width: 1300px)
          p  Details; 2 or 3 columns
        .grid_item
          h4  Tablets
          p
            | Break Point: 
            code  @media (max-width: 800px)
          p  Details: 1 or 2 columns
      .box
        .grid_item
          h4  Smaller Tablets 
          p
            | Break Point: 
            code  @media (max-width: 730px)
          p  Details: 1 column
        .grid_item
          h4  Smart Phones  
          p
            | Break Point: 
            code  @media (max-width: 521px)
          p  Details: 1 column
      .box
        .grid_item
          h4  Small Smart Phones / Smart Watches
          p
            | Break Point: 
            code  @media (max-width: 365px)
          p  Details: 1 column
      // ///////// COLOURPALLETE ////////////////////
      h2#color.h2_padding  Colour Palette
      .box
        .color_item
          h4  Main Color 
          img(src='assets/light_pink.jpg', alt='light pink', height='100')
          p.color_caption #F48A82
          p.color_caption scss: $light-pink
        .color_item
          h4  Secondary Color 
          img(src='assets/yellow.jpg', alt='orange', height='100')
          p.color_caption  #FDCA8F
          p.color_caption scss: $orange  
        .color_item
          h4  Tertiary Color 
          img(src='assets/pink.jpg', alt='pink', height='100')
          p.color_caption  #F6D8D0
          p.color_caption scss: $pink
      .box
        .color_item
          h4  Background Highlight Color  
          img(src='assets/lightest_pink.jpg', alt='ash pink', height='100')
          p.color_caption  #FBEFEC
          p.color_caption scss: $lightest-pink 
        .color_item
          h4  Accent Color 
          img(src='assets/blue.jpg', alt='blue', height='100')
          p.color_caption  #5578BB
          p.color_caption scss: $blue
        .color_item
          h4  Paragraph Text 
          img(src='assets/dark_grey.png', alt='dark_grey', height='100')
          p.color_caption  #393B39
      // COLOUR PALLETE
      h2#nav.h2_padding  Navigation 
      .box
        .info_item
          h4.subsubtitle_margin  Css Selectors 
            p  .navbar 
            p  .nav_div
            p  .logo_div
            p  .nav_list 
            p  .logo 
            p  .nav_li_highlight
        .info_item
          h4.subsubtitle_margin  About 
            p
              | The main navigation bar is fixed at the top of the page, with the logo and navigation links centered. This navigation bar will be the main way for a user to access different pages on the website. Used for large to medium sized screens.
      h4.example_padding  Example 
      .example_box
        .box.logo_div
          .col_1of2
            a.logo(href='index.html')
              img.logo(src='assets/logo.png', alt='Mandy Cheung logo')
        nav.navbar
          .box.nav_div
            .col_1of2
              label(for='nav')
              ul.nav_list
                li
                  a.nav_li_highlight(href='index.html') Home
                li
                  a(href='about.html') About
                li
                  a(href='projects.html') Projects
                li
                  a(href='resume.html') Resumè
      // TYPOGRAPHY
      h2#typography.h2_padding  Typography 
      #typographyinfo.box.type_box
        .sample_item
          h3  Title Fonts 
          h4  Yanone Kaffeesatz 
        .sample_item
          h3  Paragraph Font 
          h4  Athiti 
      h3.subtitle_margin Page Titles 
      .box
        .type_item
          h4.subsubtitle_margin  Css Selector 
          p  h1 
          h4.subsubtitle_margin  About 
          p  Mainly used for titles in hero images throughout the webpage. 
        .type_item
          h4.subsubtitle_margin  Example 
          h1  This is a title 
      h3.subtitle_margin Page Subtitles 
      .box
        .type_item
          h4.subsubtitle_margin  Css Selector 
          p  h2 
          h4.subsubtitle_margin  About 
          p  Used for Titles in the webpage that is not a hero title. 
        .type_item
          h4.subsubtitle_margin  Example 
          h2  This is a Subtitle 
      h3.subtitle_margin  Section Headers 
      .box
        .type_item
          h4.subsubtitle_margin  Css Selector 
          p  h3 
          h4.subsubtitle_margin  About 
          p  H3 is used for subtitles (titles under h2). 
        .type_item
          h4.subsubtitle_margin  Example 
          h3.h3_example  This is a Section Header 
      h3.subtitle_margin  H4: SubHeaders 
      .box
        .type_item
          h4.subsubtitle_margin  Css Selector 
          p  h4 
          h4.subsubtitle_margin  About 
          p
            | Further down the list, H4 is used for titles under h3. Sometimes used to create hierarchy between paragraph text.
        .type_item
          h4.subsubtitle_margin  Example 
          h4.h4_example  This is a subheader
      h3.subtitle_margin  P: Regular Text 
      .box
        .type_item
          h4.subsubtitle_margin  Css Selector 
          p  p 
          h4.subsubtitle_margin  About 
          p  Regular text in paragraphs or sentences. 
        .type_item
          h4.subsubtitle_margin  Example 
          p
            | This is a paragraph example... Cras rhoncus pulvinar elementum. Phasellus commodo est vel erat bibendum venenatis. Nulla ut eleifend magna, nec condimentum mi. Duis justo odio, imperdiet in augue ac, venenatis tincidunt urna. Integer condimentum euismod enim, dictum finibus ipsum porta sit amet. Aenean at posuere urna, a tincidunt risus. Curabitur rutrum purus nisi, sit amet tincidunt nulla commodo in. Aliquam rutrum diam lorem, non auctor dui posuere vitae.
      h3.subtitle_margin Captions 
      .box
        .type_item
          h4.subsubtitle_margin  Css Selector 
          p  .caption
          p  .caption_last 
          h4.subsubtitle_margin  About 
          p
            | Captions of pictures in the portfolio. .caption_last is used for the last caption in the div it has different margin attributes.
        .type_item
          h4.subsubtitle_margin  Example 
          p.caption  Caption of a photo 
      h3.subtitle_margin  Links 
      .box
        .type_item
          h4.subsubtitle_margin  Css Selector 
          p  a 
          p  a:focus, a:hover, a:active 
          h4.subsubtitle_margin  About 
          p  Used when want to link to other pages through text. 
        .type_item
          h4.subsubtitle_margin  Example 
          a  This is a link 
      h3.subtitle_margin  Unordered Lists 
      .box
        .type_item
          h4.subsubtitle_margin  Css Selector 
          p  toolbox_div.ul 
          h4.subsubtitle_margin  About 
          p  Used to list about skills and tools used in a project 
        .type_item
          h4.subsubtitle_margin  Example 
          ul
            li  This is an unordered list item 
            li  This is an unordered list item 
            li  This is an unordered list item 
      // FORM ELEMENTS
      h2#form.h2_padding  Website Elements 
      h3.element_subtitle  Links 
      .box.section_padding
        .form_item
          h4  Css Selector 
          p  .color_links 
          h4.subsubtitle_margin  About 
          p
            | Links to acess different parts of the portfolio or external sites.
        .sample_item
          h4 Example
            p 
              a.color_link Test Link
      h3.element_subtitle  Highlight 
      .box.section_padding
        .form_item
          h4  Css Selector 
          p  .highlight 
          h4.subsubtitle_margin  About 
          p
            | Text that's highlighted in pink and bolded to created emphasis
        .sample_item
          h4 Example
            p.highlight Highlighted Text