.box.nav_div
  .col_1of2
    label(for='nav')
    ul.nav_list
      li
        a.nav_li_highlight(href='projects.html') Projects
      li
        a(href='about.html') About
      li
        a(href='resume.html') Resumè