.box.nav_div
  .navbar_size
    label(for='nav')
    ul.nav_list
      li
        a.nav_li_highlight(href='projects.html') Projects
      li
        a(href='about.html') About
      li
        a(href='https://drive.google.com/file/d/18yxV8b98xK2n2l2ROdQ-ZFlks0_Utn7N/view?usp=sharing' target="_blank") Resumè