* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *::after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

body {
  margin: 0; }

h1, h2, h3, h4 {
  font-family: 'Yanone Kaffeesatz', serif; }

h1, h2 {
  letter-spacing: 0.2rem;
  text-transform: uppercase; }

h3 {
  letter-spacing: 0.25rem;
  font-size: 1.1rem; }

h4 {
  font-size: 0.85em;
  letter-spacing: 0.12rem; }

p, ol, ul {
  font-family: 'Athiti', serif;
  font-size: 0.9em;
  color: #393B39;
  letter-spacing: 0.1rem; }

a {
  font-family: 'Athiti', serif;
  font-size: 0.9em;
  text-decoration: none;
  color: #213040;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s; }
  a:active, a:hover, a:focus {
    color: #F48A82; }

button {
  background-color: #F6D8D0;
  border: none;
  color: #F48A82;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Athiti';
  text-transform: uppercase;
  font-size: 0.6em;
  letter-spacing: 0.15em;
  -webkit-transition: background-color 0.8s;
  -o-transition: background-color 0.8s;
  transition: background-color 0.8s; }
  button:active, button:hover, button:focus {
    background-color: #F48A82;
    color: white; }

select {
  width: 50%;
  padding: 2rem 3rem;
  border: 1px solid #213040;
  border-radius: 0;
  background-color: white; }

fieldset {
  border: none; }

.p_subtitle_padding {
  margin: 1rem 0 0 0.5rem; }

.accent_color {
  color: #F79D34; }

/* --- NAV BAR --- */
.guide_navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  background-color: #FFF;
  padding-left: 3%;
  padding-top: 2%; }

.navbar_li {
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem; }
  .navbar_li a {
    color: #000; }
    .navbar_li a:hover, .navbar_li a:active, .navbar_li a:focus {
      color: #F48A82; }

.navbar_logo {
  margin: 0;
  margin-right: 3%;
  color: black;
  text-decoration: none; }
  .navbar_logo:active, .navbar_logo:hover, .navbar_logo:focus {
    color: black;
    text-decoration: none; }

.guide_logo {
  width: 8rem; }

.guide_logo_div {
  margin-top: 2.5rem;
  margin-bottom: 2rem; }

.logo_title {
  margin: 0; }

/* --- FLEXBOX / GRIDS --- */
.box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.grid_item {
  width: 50%;
  padding: 0 1rem 0 0; }

.color_item {
  width: 33%;
  padding: 1rem 2rem 1rem 2rem; }

.form_item {
  width: 50%;
  padding-right: 4rem; }

.sample_item {
  width: 50%; }

.info_item {
  width: 100%; }

.type_box {
  border: 1px #919191 solid;
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem; }

.type_item {
  width: 50%;
  padding-bottom: 3rem;
  padding-right: 5rem; }

.service_item {
  width: 33%;
  padding-right: 2rem; }

/* --- MARGINS + SPACING --- */
.navbar_margin {
  margin-left: 20%;
  margin-right: 2%; }

.h2_padding_first {
  padding: 3rem 0 3rem 0;
  background-color: #FBEFEC;
  margin: 0 0 0 0;
  text-align: center; }

.h2_padding {
  padding: 3rem 0 3rem 0;
  background-color: #FBEFEC;
  margin: 2rem 0 0 0;
  text-align: center; }

.grid_title_margin {
  margin: 2rem 0 0 0; }

.section_padding {
  padding-bottom: 3rem; }

.subtitle_margin {
  margin: 0; }

.subsubtitle_margin {
  margin: 1.5rem 0 0 0; }

/* ------- COLOR SECTION --------*/
.color_caption {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  font-size: 0.8rem; }

/* ------- IMAGES -------- */
.grid_img {
  width: 80%; }

.small_grid_img {
  width: 25%; }

/*----- ELEMENTS ------*/
.element_subtitle {
  margin: 1rem 0 0 0; }

/* --- EXAMPLE CODE ---- */
.example_box {
  border: 1px #919191 solid;
  padding: 2rem 2rem 2rem 2rem;
  margin-bottom: 4rem; }

.example_padding {
  margin: 2rem 0 0 0;
  padding-bottom: 0.8rem; }

.navbar {
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 2000;
  margin: 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0; }

.nav_div {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: white;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0.5%; }

.bottom_nav_div {
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #FBEFEC;
  text-align: center;
  position: fixed;
  bottom: 0; }
  .bottom_nav_div a {
    color: #5578BB;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s; }
    .bottom_nav_div a:hover, .bottom_nav_div a:active, .bottom_nav_div a:focus {
      color: #F48A82; }

.logo {
  width: 4rem; }

.logo_div {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 0 0 0; }

.nav_list {
  text-transform: uppercase;
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin-bottom: 0; }
  .nav_list li {
    display: inline-block;
    text-align: center;
    margin: 0 1rem; }
    .nav_list li:hover {
      color: #F48A82; }

.nav_li_highlight {
  padding: 0 0.5rem;
  background-color: rgba(246, 216, 208, 0.8);
  font-weight: bold; }
  .nav_li_highlight:hover, .nav_li_highlight:active, .nav_li_highlight:focus {
    color: #000;
    cursor: default; }

.color_link {
  color: #5578BB;
  font-weight: bold; }

.caption {
  font-size: 0.8rem;
  color: #666666;
  margin: 0;
  padding-bottom: 1rem; }

.caption_last {
  font-size: 0.8rem;
  color: #666666;
  margin: 0;
  padding-bottom: 1rem; }

li {
  list-style-type: none; }

.highlight {
  font-weight: bold;
  color: #F48A82; }
